* {
	box-sizing: border-box;
}


body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: #465AA2;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-left: 10px;
}

a {
	color: #465AA2;
  text-decoration: none;
}

p {
	font-size: .95em;
	margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  height:19px;
  width: auto;
}

.header p {
  font-size: 10px;
}

.contact-info {
  font-size: 10px;
  margin: 20px;
}

.name {
  padding: 0px;
}

.main-content {
  height: 500px;
  background-color: #00B1A6;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  font-size: .60em;
  color: #ffffff;
}
