body {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
}

.title {
  flex-grow: 2;
}
