* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto Mono';
	line-height: 1.6;
	color: #828282;
	margin: 0;
  text-decoration: none;
}

p.fn {
  font-family: 'Orbitron', sans-serif;
  padding-left: 40px;
  margin: 0;
  line-height: 1;
}

p.ln {
  font-family: 'Orbitron', sans-serif;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: right;
  margin: 0;
  line-height: 1;
  width: 200px;
}

.line-separator {
  margin-left: 12px;
  border-bottom: 1px solid #2a2a2a;
  margin-right: 12px;
}

p.definition,
p.contact {
  font-size: 9px;
  letter-spacing: .5px;
  padding-left: 12px;
  padding-right: 12px;
}

h1.capabilities,
h1.history {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  line-height:24px;
}

:link,
:hover,
:visited {
  text-decoration: none;
  color: inherit;
}

.left {
  background-color: #1A1A1A;
  width: 222px;
}

.content {
  width: calc(100% - 220px);
  background-color: #414141;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 222px;
}

.social {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
}

.exp,
.work {
  color: #EAEAEA;
  padding-left: 20px;
  padding-top: 20px;
}

IMG.logo {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 5px;
  height: auto;
}
