* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto Mono';
	line-height: 1.6;
	color: #828282;
	margin: 0;
  text-decoration: none;
}

h1.fn {
  font-family: 'Orbitron', sans-serif;
  padding-left: 40px;
  margin: 0;
  line-height: 1;
	font-size: 20px;
	font-weight: 400;
}

h1.ln {
  font-family: 'Orbitron', sans-serif;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: right;
  margin: 0;
  line-height: 1;
  width: 200px;
	font-size: 20px;
	font-weight: 400;
}

.line-separator {
  margin-left: 12px;
  border-bottom: 1px solid #2a2a2a;
  margin-right: 12px;
}

p.definition,
p.contact {
  font-size: 9px;
  letter-spacing: .5px;
  padding-left: 12px;
  padding-right: 12px;
}

h1.employer,
h1.description,
h1.expertise {
	font-family: 'Orbitron', sans-serif;
	color: #EAEAEA;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
	letter-spacing: 1.5px;
}

:link,
:hover,
:visited {
  text-decoration: none;
  color: #828282;
}

.left {
  background-color: #1A1A1A;
  width: 222px;
}

.content {
  width: calc(100% - 220px);
  background-color: #414141;
}

.footer {
  position: relative;
  bottom: 0;
  width: 222px;
}

.social {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
}

.company,
.title,
.skills {
  color: #EAEAEA;
  padding-left: 20px;
  padding-top: 20px;
}

.company {
	width: 125px;
	padding-top: 40px;
}

.sb-logo {
	padding-left: 25px;
	padding-top: 10px;
}

.as-logo {
	padding-left: 25px;
	padding-top: 325px;
}

.title {
	width: 400px;
	padding-top: 40px;
}

.LQE,
.SQE {
	font-family: 'Orbitron', sans-serif;
	color: #F63784;
	font-size: 12px;
	letter-spacing: 2px;
	padding-top: 20px;
	margin: 0;
}

.QE {
	font-family: 'Orbitron', sans-serif;
	color: #8AB430;
	font-size: 12px;
	letter-spacing: 2px;
	padding-top: 65px;
	margin: 0;
}

.PM,
.STC {
	font-family: 'Orbitron', sans-serif;
	color: #8AB430;
	font-size: 12px;
	letter-spacing: 2px;
	padding-top: 20px;
	margin: 0;
}

.LQE-Desc,
.SQE-Desc,
.QE-Desc,
.PM-Desc {
	font-family: 'Roboto Mono';
	color: #EAEAEA;
	font-size: 10px;
	letter-spacing: 1.5px;
	margin: 0;
	padding-top: 20px;
	line-height: 2;
}

.STC-Desc {
	font-family: 'Roboto Mono';
	color: #EAEAEA;
	font-size: 10px;
	letter-spacing: 1.5px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 2;
}

.skills {
	width: 300px;
	padding-top: 40px;
}

.sb-skill-header {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color: #F63784;
	font-size: 10px;
	letter-spacing: 2px;
}

.as-skill-header {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color: #8AB430;
	font-size: 10px;
	letter-spacing: 2px;
}

.skill-content {
	font-family: 'Roboto Mono';
	font-weight: 500;
	color: #EAEAEA;
	font-size: 10px;
	letter-spacing: 2px;
	margin: 0;
	line-height: 2;
}

.sb-skill-content {
	padding-top: 20px;
}

.as-skill-content {
	padding-top: 34px;
}

.content-line {
  margin-left: 40px;
  border-bottom: 2px solid #FFF;
}

IMG.logo {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 5px;
  height: auto;
}
